/* Font Sizes - Start */
$font-display-1-size: 4.125rem;
$font-display-2-size: 3.25rem;

$font-heading-1-size: 2.75rem;
$font-heading-2-size: 2.125rem;
$font-heading-3-size: 1.875rem;
$font-heading-4-size: 1.6875rem;
$font-heading-5-size: 1.5625rem;

$font-subheading-size: 1.6875rem;

$font-paragraph-1-size: 1.75rem;
$font-paragraph-2-size: 1.8125rem;
$font-paragraph-3-size: 1rem;

$font-caption-size: 0.875rem;

$font-footer-size: 1rem;
/* Font Sizes - End */