@use '_colors.scss' as colors;
@use '_shadows.scss' as shadows;

.modal {
    opacity: 0;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    display: none;
    z-index: 9999;

    strong {
        font-weight: bold;
    }

}

.modal.active {
    opacity: 1;
    display: block;
    transition-delay: 0s;
}

.content-modal {
    background-color: colors.color("color-neutral-100");
    margin: 2rem auto;
    padding: 1rem 2rem;
    box-shadow: shadows.$shadow-md;
    border-radius: 5px;
    max-width: 600px;
}

.modal-content {
    display: flex;
    flex-direction: column;

    padding: 0;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 1.5625rem;
    }

    h3 {
        font-weight: bold;
    }
}

.modal-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    button,
    .button {
        border-radius: 0.25rem;
        padding: 0.5rem 2rem;
        font-size: .95rem;
    }

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.modal-header .switch-container {
    margin-bottom: 0;
    flex-direction: row;
}

.modal-header-title {
    font-weight: normal;
    font-size: 1.5rem;
    color: colors.color("color-black");
    font-family: "Manrope";
}

.share-modal__project-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.qrcode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.qrcode__image {
    width: 100%;
    max-width: 8rem;
}

.qrcode__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.qrcode__button-container {
    margin-top: unset;
}

.qrcode__input {
    cursor: text !important;
    background-color: unset !important;
    border: none !important;
    padding: 0.15rem !important;
}

.qrcode__button {
    background-color: colors.color("color-primary-500");
    color: colors.color("white");
    font-weight: bold;
    border: 1px solid colors.color("color-primary-500");
    font-size: .875rem;
    background-color: colors.color("color-white");
    border-color: colors.color("color-primary-700");
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
}

.qrcode__views-container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: start;
    margin-top: -0.75rem;

    img {
        vertical-align: middle;
    }

}

.share-protection-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.project-password-container {
    p {
        text-align: right;
        font-size: .875rem;
    }
}

.input-default--share-modal {
    margin-bottom: unset !important;
}

.toggle-password-button,
.main-form .toggle-password-button {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 1rem;
    padding: 0;
    background: none;
    border: none;

    img {
        vertical-align: middle
    }

}

.input-password {
    position: relative;
}

.input-password__icon-show-password-off {
    cursor: pointer;
}

/* Update Modal - Start */
.update-confirm-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.update-confirm-row {
    background-color: colors.color("color-neutral-200");
    border: 1px solid colors.color("color-neutral-700");
    padding-bottom: 1rem;
}

.update-confirm-title {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 0.25rem 1rem;
    background-color: colors.color("color-neutral-600");
    color: colors.color("color-white");
}

.update-confirm-model-name,
.update-confirm-file-name {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.update-confirm-created-date {
    text-align: center;
    margin-top: 0.5rem;
}

.update-confirm-icon {
    margin: 0 auto;
}

.update-confirm-row.new {
    border-color: colors.color("color-primary-900");

    .update-confirm-title {
        background-color: colors.color("color-primary-900");
    }

    .update-confirm-file-name {
        font-weight: bold;
    }

}
/* Update Modal - End */