@use '_colors.scss' as colors;
@use '_breakpoints.scss' as breakpoints;

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;

    img {
        vertical-align: middle;
    }

}

.tooltip-content--hover,
.tooltip-content--click,
.tooltip--menu-explore {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: colors.color("color-primary-50");
    color: colors.color("color-black");
    border-radius: 1rem;
    padding: 5px 1rem;
    z-index: 10;
    width: fit-content;
    word-break: keep-all;
    white-space: nowrap;
}

.tooltip-container:hover {
    .tooltip-content--hover {
        display: block;
    }
}

.tooltip--project-create-project {
    white-space: normal;
    width: min(90vw, 41rem);
}

.tooltip--payment-method {
    left: 0;
    top: 100%;
    right: unset;
    bottom: unset;
    font-size: 0.75rem;
    line-height: 2;
    transform: translate(-100%, -100%);
}

.tooltip--menu-explore {
    right: 100%;
    left: unset;
    transform: translate(1rem, 50%);
    text-align: center;
    bottom: 50%;
    top: unset;
}

.tooltip--open {
    display: block;
}

@media only screen and (max-width: breakpoints.$xx-large) {
    .tooltip--left {
        transform: unset;
        left: 0;
    }

    .tooltip--right {
        transform: unset;
        left: unset;
        right: 0;
    }
}

@media only screen and (max-width: breakpoints.$medium) {
    .switch-container {
        flex-direction: column;
    }

    .tooltip--left,
    .tooltip--right {
        transform: translateX(-50%);
        left: 50%;
        right: unset;
    }

}